.banner {
  background-image: image-url("bg.png");
  position: sticky;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  color: white;
  background-color: black;
  font-family: 'Varela Round', sans-serif;
}
