#location {
    border-radius: 20px 0 0 20px; 
    border-style: none;
    height: 40px;
    width: 160%;
    padding: 10px !important;
    }

.btn-secondary {
    border-radius: 0 20px 20px 0 !important;
    background-color: #28A745;
    border-right: 1px solid Gainsboro !important;
    border-style: none;
    }

.guest {
    width:40%;
    padding: 10px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    border-left: 1px solid Gainsboro !important;
    height: 40px;
    border-style: none;    
}

 .date-input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
} 


.input-border::after {
    z-index: 1;
    position:absolute;
    height: 100%;
    left: 0;
    content: '';
    border-left: 1px solid Gainsboro !important;
    width: 80%;
    pointer-events: none;
} 

.date-input {
    height:40px;
    border-style: none;
    border-radius: 0;
    border-left: 1px solid Gainsboro !important;
    width: 30%;
    position: relative;
}
