<style>
  a {
    color: white;
  }
</style>

<div class="container text-dark">
<div class="row">
  <% @campsites.each do |campsite| %>
    <div class="col-sm-4 mb-5">
      <div class="card">
      <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= campsite.name %></h5>
          <p class="card-text">Address: <%= campsite.address %></p>
           <h5 class="card-trip-pricing text-center">Price: £<%= campsite.price_per_night %>0</h5> 
          <button class="btn-lg btn-block btn-primary text-center"><%= link_to "More info", campsite_path(campsite.id)%></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
